#customButton{
  border: none;
}
.btn{
  background: #73325c;
  color: #f9ebcd;border:none;
}
#change-bg:active, #change-bg:hover{
  color: #73325c;
  background-color: #f9ebcd;
  border: none;
}
.form-control:focus{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 0px rgba(255, 100, 255, 0.5);
  border-color:none;
}
#disp-articles{
  --bs-aspect-ratio: 150%;
  margin-top:105px;
  margin-bottom:105px;
  height:600px;
  overflow:auto;
}
a{
  text-decoration: none;
}
#fg{
  color: #73325c;
}